@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: 'Roboto Slab', serif;
  --font-raleway: 'Raleway', sans-serif;
  --bg-color-line: #cbcbcb;
  --bg-color-page: #19223e;
  --color-black: #f9d3b448;
  --color-brand-primary: #f5c783;
  --color-brand-primary-2: #f0b660;
  --color-brand-secondary: #f0c075;
  --color-brand-black: #0e215d;
  --color-brand-white: #fff;
  --color-bg-1: #f6f8fd;
  --color-bg-2: #e1e5ef;
  --color-gradient-1: linear-gradient(
    141.71deg,
    rgba(80, 71, 153, 0.85) 16.42%,
    rgba(133, 118, 255, 0.85) 96.48%
  );
  --color-body: #474854;
  --bg-footer-1: #bbdeea;
  --bg-footer-2: #eafdfc;
  --text-secondary: rgb(164, 172, 195);
  --color-bg-1-dark: darken(#f6f8fd, 10%);
  --color-bg-highlight: var(--color-bg-2);
  --bg-dark-1: hsla(224deg, 68%, 10%, 1);
  --bg-dark-2: hsla(224deg, 68%, 15%, 1);
  --bg-card-span: hsl(225, 68%, 7%);
  --logo-text-color: var(--color-brand-primary);
  --logo-text-desc-color: var(--color-body);
  --logo-border-color: var(--color-brand-white);
  --logo-shadow-color: rgba(0, 0, 0, 0.1);
  --nav-border-color: rgba(0, 0, 0, 0.05);
  --nav-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03),
    0 4px 15px 0 rgba(0, 0, 0, 0.07);
  --nav-bg-color: var(--color-brand-white);
  --nav-item-color: #222;
  --theme-switch-item-color: grey;
  --theme-switch-active-icon-fill: #222;
  --theme-switch-active-item-bg: rgba(0, 0, 0, 0.1);
  --hero-title-highlight-color: var(--color-brand-primary);
  --hero-desc-color: var(--color-body);
}

:root.dark {
  --color-brand-black: #fff;
  --color-body: #ccd7fa;
  --color-bg-highlight: #5c51af8c;
  --logo-text-color: var(--color-brand-white);
  --logo-text-desc-color: var(--text-secondary);
  --logo-border-color: #000;
  --logo-shadow-color: rgba(255, 255, 255, 0.1);
  --theme-switch-item-color: #fff;
  --theme-switch-active-icon-fill: #fff;
  --theme-switch-active-item-bg: var(--color-brand-primary);
  --nav-border-color: hsla(224deg, 68%, 23%, 1);
  --nav-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.03),
    0 4px 20px 0 rgba(255, 255, 255, 0.05);
  --nav-bg-color: var(--bg-dark-2);
  --nav-item-color: var(--color-brand-white);
  --hero-title-highlight-color: var(--color-brand-primary-2);
  --hero-desc-color: #ccd7fa;
  --section-title-color: var(--color-brand-primary-2);
}

.dark {
  background-color: var(--bg-dark-1);
}

body {
  font-family: var(--font-roboto);
  background-color: var(--bg-dark-1);
}

ul {
  list-style-type: none;
  /* padding: 0; 
  margin: 0;  */
}

ol {
  list-style-type: none;
  /* padding: 0;
  margin: 0; */
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.8;
}

.container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.app {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    20deg,
    var(--color-brand-primary) 0%,
    var(--color-black) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.search {
  width: 71%;
  margin: 4rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: var(--bg-dark-1);
  -webkit-box-shadow: 0px 10px 10px var(--bg-dark-2),
    -5px -10px 10px var(--bg-dark-2);
  box-shadow: 5px 10px 20px var(--bg-dark-2), -5px -10px 20px var(--bg-dark-2);
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;
  outline: none;
  color: var(--text-secondary);
  background: var(--bg-dark-1);
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.movie {
  display: flex;
  place-content: center;
  flex-direction: column;
  margin: 0 0.6rem 2rem 0.6rem;
  width: 300px;
  height: 460px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.06);
}

.movie-title {
  font-size: 2rem;
  color: var(--color-brand-primary);
}

.movie-description {
  font-size: 1.2rem;
  color: var(--color-body);
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: var(--color-brand-primary);
}

/* .movie:hover div:nth-of-type(1) {
  color: var(--color-brand-primary-2);
  opacity: 1;
} */

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie:hover div:nth-of-type(2) {
  opacity: 0.8;
}

.movie div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3) {
  z-index: 2;
  background-color: var(--bg-card-span);
  padding: 10px 24px 24px 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span {
  font-family: 'Raleway', sans-serif;
  text-transform: capitalize;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--text-secondary);
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: 'Roboto Slab', serif;
  color: var(--color-brand-primary-2);
}

.movie:hover div:nth-of-type(3) {
  background-color: transparent;
  opacity: 0;
}

.movie > div:nth-of-type(3):hover {
  background-color: var(--bg-card-span);
  opacity: 1;
}

.empty {
  width: 100%;
  margin-top: 3rem;
  margin-left: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h3 {
  /* font-size: 1.5rem; */
  font-weight: 600;
  letter-spacing: 0.8px;
  color: var(--color-brand-secondary);
  font-family: var(--font-raleway);
}

.error {
  margin-top: 2rem;
  color: var(--bg-color-line);
  font-family: var(--font-raleway);
  font-weight: 500;
}

.db {
  margin-top: 2rem;
  color: var(--color-brand-secondary);
  font-family: var(--font-raleway);
}

.data {
  margin-top: 2rem;
  color: var(--bg-color-line);
  font-family: var(--font-raleway);
  font-weight: 500;
  line-height: 1.8rem;
}

/* @media screen and (min-width: 800px) {
  .movie {
    margin: auto;
  }
} */

@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .movie {
    width: '100%';
    margin: 1rem;
  }
}
